/*------------------------------------------- [VARIABLES] ----------------------------------------------------------*/
:root {
    --color-primario: #333;
    --color-secundario: #282828;
    --color-terciario: #171717;
    --color-cuaternario: #3E3E3E;
    --color-fuente: #ffffff;
    --color-fuente-secundaria: #ACA296;
    --color-boton: #21BB59;
}

/*---------------------------------------------- [GLOBAL] -----------------------------------------------------------*/
* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------------------ [HTML] -----------------------------------------------------------*/
html {
    background-color: var(--color-primario);
}

/*------------------------------------------------ [BODY] -----------------------------------------------------------*/

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 615px auto;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "aside header"
        "aside main"
        "footer footer";
}

main {
    grid-area: main;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*----------------------------------------------- [SECTION] ----------------------------------------------------------*/

section {
    height: 85%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
    min-height: 85%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-fuente-secundaria) var(--color-secundario);
    padding: 20px;
}

section::-webkit-scrollbar {
    display: none;
    width: 8px;
}

table {
    max-height: 300px;
    overflow-y: auto;
    border-collapse: collapse;
}

table,
thead,
tbody {
    width: 100%;
    text-align: center;
}

.fila-cabecera th {
    width: 25%;
    border-bottom: 1px solid lightgray;
    color: var(--color-fuente-secundaria);
    font-weight: 500;
}

.fila-cabecera th:first-child {
    width: 100%;
    border-bottom: 1px solid lightgray;
    color: var(--color-fuente-secundaria);
    display: flex;
    justify-content: right;
}

tbody tr td:first-child {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 15px;
}

.fila-cancion {
    height: 40px;
    font-size: 14px;
    color: var(--color-fuente);
    border-bottom: 1px solid var(--color-cuaternario);
    transition: background-color 0.2s ease, color 0.4s ease;
}

.fila-cancion:hover {
    background-color: var(--color-terciario);
    cursor: pointer;
    color: var(--color-boton);
}

.fila-cancion td:first-child {
    color: white;
}

.opacidad-on {
    opacity: 1;
    transition: opacity 0.8s;
}

.opacidad-off {
    opacity: 0;
    transition: opacity 0.8s;
}

.verde {
    color: var(--color-boton);
    font-size: 20px;
    background: none;
    border: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.verde:hover {
    transform: scale(1.2);
}

.th-play {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.td-play {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-play p {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-bottom: 2px;
}

.botonPlay {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-boton);
}

.botonPlay:hover {
    background-color: var(--color-fuente);
    color: var(--color-boton);
}

/* ----------------------------------------------- [FORMULARIO] ---------------------------------------------------- */

#formulario {
    position: fixed;
    left: 530px;
    bottom: 160px;
    z-index: 1;
    width: 500px;
    height: 420px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px var(--color-boton);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.5;
    transform: scale(0);
    animation: aparecerFormulario 1s ease-in-out forwards;
}

#formulario label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

#salir {
    cursor: pointer;
    width: 12px;
    align-self: flex-start;
    color: var(--color-boton);
}

#formulario input {
    height: 40px;
    width: 420px;
    border: 1px solid var(--color-fuente-secundaria);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 10px;
}

#formulario input[type="text"] {
    height: 40px;
    width: 420px;
    text-align: left;
}

#formulario input[type="text"]:focus {
    outline: none;
    border: 2px solid black;
}

#formulario button {
    background-color: var(--color-boton);
    color: var(--color-fuente);
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
}

#formulario button:hover {
    transform: scale(1.1);
}

.avisoR {
    font-weight: bold;
    color: red;
    font-size: 10px;
    margin: 10px 0;
}

.avisoV {
    font-weight: bold;
    color: green;
    font-size: 10px;
    margin: 10px 0;
}


/* ----------------------------------------------- [ASIDE] -------------------------------------------------------- */
aside {
    grid-area: aside;
    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--color-fuente);
    box-shadow: inset -4px 0px 10px rgba(0, 0, 0, 0.5);
}

.container-img-aside {
    height: 35%;
    width: 100%;
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    box-shadow: inset -4px 0px 10px rgba(0, 0, 0, 0.5);
}

.container-img-aside img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.container-filtros {
    background-color: var(--color-cuaternario);
    margin-top: 30px;
    width: 90%;
    border-radius: 5px;
}

.filtros {
    background: none;
    border: none;
    color: lightgrey;
    height: 20px;
    width: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.filtros p {
    height: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.container-filtros ul {
    list-style: none;
}

.container-filtros li {
    margin-bottom: 5px;
    font-weight: bold;
}

.container-filtros a:hover {
    color: var(--color-fuente);
}

.container-filtros a {
    text-decoration: none;
    color: lightgrey;
    font-size: 12px;
    margin-left: 40px;
}

.oculto {
    display: none;
}

/* ----------------------------------------------- [HEADER] -------------------------------------------------------- */

header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-fuente);
}

header img {
    width: 40px;
    height: 40px;
}

.container-foto-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container-buscar {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-usuario {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boton-principal {
    background-color: var(--color-boton);
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    color: var(--color-fuente);
    width: 80px;
    text-align: center;
    transition: transform 0.3s ease;
}

.boton-principal:hover {
    background-color: #1A9E49;
    transform: scale(1.1);
}

input[type="search"] {
    width: 160px;
    height: 25px;
    border-radius: 15px;
    border: none;
}

.container-agregar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.agregar {
    width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primario);
    border-radius: 2px;
    box-shadow: -2px 2px 0px 0px rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

.agregar:hover {
    transform: scale(1.1);
}

#buscarCancion {
    padding-left: 10px;
    color: var(--color-boton);
}

#buscarCancion:focus {
    outline: 2px solid var(--color-boton);

}

/* ----------------------------------------------- [FOOTER] -------------------------------------------------------- */

footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
}

#inputVolumen {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;
    accent-color: black;
    background: #111;
    outline: none;
}

#progreso {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;
    accent-color: black;
    background: grey;
    outline: none;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: transparent;
    border-radius: 5px;
}

#reproductor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.container-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-botones button {
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--color-primario);
    border: none;
    cursor: pointer;
}

#play {
    background-color: var(--color-primario);
    border: 4px solid var(--color-fuente);
    border-radius: 50px;
}

.container-progreso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-fuente);
}

.container-progreso p {
    font-size: 14px;
}

#icono-volumen {
    width: 20px;
}

.botonBlanco {
    color: var(--color-fuente);
}

.botonVerde {
    color: var(--color-boton);
}

#cancionTitulo {
    /* margin-left: 20px; */
    width: 200px;
}

.titulo {
    color: var(--color-fuente);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.artista {
    color: gray;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

/* #volumen {
     margin-right: 20px; 
} */

#progreso {
    width: 800px;
}

/* --------------------------------------------- [CONTROLES] ------------------------------------------------------ */




#repetir,
#atras,
#play,
#adelante,
#aleatorio {
    display: inline-block;
    transition: transform 0.3s ease;
}

#repetir:hover,
#atras:hover,
#adelante:hover,
#aleatorio:hover {
    transform: scale(1.2);
}

#play:hover {
    transform: scale(1.1);
}

#tiempoActual,
#tiempoTotal {
    width: 37px;
    text-align: center;
}

/* --------------------------------------------- [ANIMACIONES] ------------------------------------------------------ */

@keyframes aparecerFormulario {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* --------------------------------------------- [MEDIA QUERIES] ------------------------------------------------------ */
/* --------------------------------------------- [ 414x896 ] ------------------------------------------------------- */

@media (max-width: 414px) and (max-height: 896px) {

    html {
        height: 896px;
        width: 414px;
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "aside"
            "main"
            "footer";
        max-height: 896px;
    }

    header {
        display: none;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-filtros {
        background-color: var(--color-cuaternario);   
        border-radius: 5px;
        margin: 20px 0px 5px 0px;
        width: 85%;
        border-radius: 5px;
        position: relative;
        height: 30px;
    }

    .container-img-aside {
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container-filtros ul{
        height: 10px;
    }

    .filtros {
        z-index: 10;
    }

    .mostrar {
        display: block;
        position: relative;
        width: 100%;
        background-color: var(--color-cuaternario);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        padding-top: 5px;
        margin-top: -5px ;
    }

    .container-img-aside img {
        width: 270px;
        height: 270px;
    }

    main {
        height: 100%;
    }


    section {
        height: 400px;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
        min-height: 85%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--color-fuente-secundaria) var(--color-secundario);
        padding: 0px 0px;
    }

    footer {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cancionTitulo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }

    #artista-parrafo {
        margin-left: 10px;
        width: 40%;
        text-align: left;
    }

    #titulo-parrafo {
        width: 40%;
        text-align: right;
    }

    #volumen {
        display: none;
    }

    #progreso {
        width: 200px;
    }

    table {
        max-height: 150px;
        overflow-y: auto;
        border-collapse: collapse;
    }

    #repetir,
    #atras,
    #play,
    #adelante,
    #aleatorio {
        background-color: transparent;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    #reproductor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin: 0px;
    }

    .fila-cabecera {
        height: 60px;
    }

    .th-play {
        height: 64px;
        margin-bottom: -1px;
    }

    .td-play {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
    }

    .filtros p {
        height: 20px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 5px 10px;
    }

}


@media (max-width: 360px) and (max-height: 640px) {

    html {
        height: 640px;
        width: 360px;
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "aside"
            "main"
            "footer";
        max-height: 640px;
    }

    header {
        display: none;
        width: 100%;
    }

    aside {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .container-filtros {
        background-color: var(--color-cuaternario);
        margin: 20px 0px 5px 0px;
        width: 85%;
        border-radius: 5px;
        position: relative;
        height: 30px;
    }

    .container-filtros ul{
        height: 10px;
    }

    .filtros {
        z-index: 10;
    }

    .mostrar {
        display: block;
        position: relative;
        width: 100%;
        background-color: var(--color-cuaternario);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        padding-top: 5px;
        margin-top: -5px ;
    }

    .container-img-aside {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container-img-aside img {
        width: 65%;
        height: 100%;
        object-fit: cover;
    }

    main {
        height: 100%;
    }

    section {
        height: 300px;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
        min-height: 75%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--color-fuente-secundaria) var(--color-secundario);
        padding: 0;
        width: 360px;
    }

    footer {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cancionTitulo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 12px;
    }

    #artista-parrafo {
        margin-left: 5px;
        width: 35%;
        text-align: left;
    }

    #titulo-parrafo {
        width: 45%;
        text-align: right;
    }

    #volumen {
        display: none;
    }

    #progreso {
        width: 160px;
    }

    table {
        max-height: 120px;
        width: 340px;
        overflow-y: auto;
        border-collapse: collapse;
    }

    #repetir,
    #atras,
    #play,
    #adelante,
    #aleatorio {
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
    }

    #reproductor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }

    .fila-cabecera {
        height: 50px;
    }

    .th-play {
        height: 54px;
        margin-bottom: -0.5px;
    }

    .td-play {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
    }

    .td-play p {
        margin-right: 10px;
        padding: 10px;
    }

    .botonPlay {
        width: 30px;
        height: 30px;
    }

    .filtros p {
        height: 18px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 5px 8px;
    }

    th {
        font-size: 14px;
    }

    .td-play {
        display: flex;
        justify-content: right;
        width: 30px;
    }

    .container-botones {
        display: flex;
        justify-content: space-between;

    }
}